.wrapper{
    @apply py-10 flex flex-col items-center gap-2 text-center bg-white;
    background-color: rgb(28, 14, 45);

    .title{
        @apply text-4xl font-extrabold text-yellow-500;
    }

    .subtitle{
        @apply text-xl text-gray-300;
    }

    .cards{
        @apply w-full max-w-[100vw] md:px-4 py-4; 
        background-color: rgb(28, 14, 45);
        
    }
    .card{
        @apply flex flex-col overflow-hidden rounded-3xl shadow-lg mx-4 md:h-full cursor-pointer bg-white;

        img{
            @apply w-full object-cover h-72;
        }

        .info{
            @apply flex flex-col gap-2 md:p-4 py-2 p-1 md:flex-1 ;
            color: rgb(28, 14, 45);

            h2{
                @apply font-bold md:text-lg;
            }

            p{
                @apply md:text-lg
            }
            .product-name{
                @apply font-extrabold md:text-4xl;
            }
        }
        .card-header{
            @apply font-extrabold text-4xl p-9 ;
            color: rgb(28, 14, 45);
            background-color: #ebfbbf;
        }
        .card-footer{
            @apply font-extrabold text-4xl p-3 ;
            color: rgb(28, 14, 45);;
            background-color: #facc15;;
        }

        &:hover{
            transform: scale(1.03);
        }
    }
}

::ng-deep .p-carousel-viewport{
    @apply py-6;
}

::ng-deep.p-button-secondary{
    color: white;
}