<div class="wrapper">
    <h1 class="title">NUESTROS PRODUCTOS</h1>
    <p class="subtitle">Conoce nuestros productos y servicios , selecciona uno para contactarnos!
        <br> *Opcionalmente puede agregar módulos de CRM, nómina, producción o importaciones NO incluidos en el precio.
    </p>
    <div class="cards">
        @if (this.products$ | async; as products) {
            <p-carousel [value]="products" [responsiveOptions]="this.responsive" [circular]="true" [numVisible]="3" [numScroll]="3">
                <ng-template let-product let-index #item>
                    <div class="card" [routerLink]="['/', 'product']" [queryParams]="{code: product.code}">
                        <div class="card-header">
                            <img [src]="product.img" alt="IMAGE">
                        </div>
                        <div class="info">
                            <h1 class="product-name">{{product.name}}</h1>
                            <p>{{product.details}}</p>
                        </div>
                        <div class="card-footer" >
                            <h4>Cotiza aca!</h4>
                        </div>
                    </div>
        
                </ng-template>
            </p-carousel>
        }
    </div>
</div>