<div class="wrapper">
  <h1 class="title">NUESTROS PRODUCTOS</h1>
  <p class="subtitle">
    Conoce nuestros productos y servicios, selecciona uno para contactarnos!
  </p>
  <div class="cards-container">
    <div *ngIf="products$ | async as products" class="cards-grid">
      <div class="card" *ngFor="let product of products$ | async">
        <div class="card-header">
          <img [src]="product.img" alt="Imagen del Producto" />
        </div>
        <div class="info">
          <h1 class="product-name" style="justify-content: center; display: flex; align-items: center;">{{ product.name }}</h1>
          <p [innerHTML]="formatDetails(product.details)"></p>
        </div>
        <div class="card-footer">
          <button
            class="cotiza-button"
            (click)="navigateToProduct(product.code)"
          >
            Cotiza
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
