.wrapper {
    width: 100%;
    background-color: rgb(28, 14, 45);
    padding: 20px;
    text-align: center;
  }
  
  .title {
    @apply text-4xl font-extrabold;
    color: yellow;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .cards-grid{
    display: grid;
    width: 85%;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .cards {
    display: flex;
    gap: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column; /* Asegura que el contenido se distribuya verticalmente */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    text-align: justify;
    height: 100%; /* Mantiene un tamaño consistente */
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-header img {
    width: 100%;
    height: 300px;
    padding: 20px;
    background-color: #ececec;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .info {
    padding: 20px;
  }
  
  .product-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-footer {
    margin-top: auto;
    padding: 10px;
    background-color: #f8f9fa;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .cotiza-button {
    background-color: #ffcb1e; 
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    width: 80%;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #ff7e22; /* Azul más oscuro */
    }
  }
  
  