<div id="video-background">
    <video autoplay loop muted>
      <source src="/images/about_us/video_about_us.mp4" type="video/mp4" />
    </video>
    <h1>CONÓCENOS</h1>
  </div>
  
  <div id="mission-section">
    <div id="mission-text">
      <h1>Misión</h1>
      <p>
        Estructurar un equipo de ejecutivos líderes en las diferentes disciplinas
        que contribuyan al direccionamiento de la visión corporativa y el
        propósito individual de cada una de ellas.
      </p>
    </div>
    <div id="mission-image">
      <img src="/images/about_us/mision_about_us.png" alt="Mujer sonriendo" />
    </div>
  </div>
  
  <div id="vision-section">
    <div id="vision-image">
      <img src="/images/about_us/vision_about_us.png" alt="Mujer con computador" />
    </div>
    <div id="vision-text">
      <h1>Visión</h1>
      <p>
        Ser reconocida al 2026 como la mejor compañía en planes estratégicos para
        alcanzar estándares en la administración efectiva de los recursos en el
        direccionamiento empresarial.
      </p>
    </div>
  </div>
  