<div class="wrapper">
  <div id="title">
    <h1>CONÓCENOS</h1>
    <p>
      Somos una empresa enfocada en brindar soluciones tecnológicas a la medida
    </p>
  </div>
  
  <div id="description">
    <p>
      Alianza DSH SAS está conformado por un equipo de profesionales
      interrelacionados, con un tiempo de trabajo en la rama superior a quince
      (15) años caracterizándose por su integralidad y calidad de servicio.
      Contamos con una amplia gama de clientes satisfechos, pertenecientes a todos
      los sectores económicos y todos los tamaños de empresa.
    </p>
    <hr class="w-full border-[1] mb-4 mt-4 border-zinc-400">
    <p>
      Somos distribuidores autorizados del software SYS plus. Estamos en plena
      capacidad de asesorarlo a usted y a su compañía tanto en el manejo del
      software SYSplus, como en la adquisición, disposición y uso de las
      herramientas tecnológicas adecuadas para sus operaciones.
    </p>
  </div>
</div>

<div id="mission-section">
  <div id="mission-text">
    <h1>Misión</h1>
    <p>
      Estructurar un equipo de ejecutivos líderes en las diferentes disciplinas
      que contribuyan al direccionamiento de la visión corporativa y el
      propósito individual de cada una de ellas.
    </p>
  </div>
  <div id="mission-image">
    <img src="/images/about_us/mision_about_us.png" alt="Mujer sonriendo" />
  </div>
</div>

<div id="vision-section">
  <div id="vision-image">
    <img
      src="/images/about_us/vision_about_us.png"
      alt="Mujer con computador"
    />
  </div>
  <div id="vision-text">
    <h1>Visión</h1>
    <p>
      Ser reconocida al 2026 como la mejor compañía en planes estratégicos para
      alcanzar estándares en la administración efectiva de los recursos en el
      direccionamiento empresarial.
    </p>
  </div>
</div>
