<div class="wrapper">
  <div id="title">
    <h1>CONÓCENOS</h1>
    <p>
      Somos una empresa enfocada en brindar soluciones tecnológicas a la medida
    </p>
  </div>

  <div id="description">
    <p>
      Alianza DSH SAS es un equipo de profesionales interrelacionados, con
      experiencia superior a diecisiete (17) años caracterizándose por su
      integralidad y calidad de servicio. Contamos con una amplia gama de
      clientes satisfechos, pertenecientes a todos los sectores económicos y
      todos los tamaños de empresa. Somos distribuidores autorizados del
      software SYSplus.
    </p>
    <hr class="w-full border-[1] mb-4 mt-4 border-zinc-400" />
    <p>
      Estamos en plena capacidad de asesorarlo a usted y a su compañía tanto en
      el manejo del software SYSplus, como en la adquisición, disposición y uso
      de las herramientas tecnológicas adecuadas para sus operaciones.
    </p>
  </div>
</div>

<div id="mission-section">
  <div id="mission-text">
    <h1>Misión</h1>
    <p>
      Proveer servicios de asesoría y consultoría para la implementación de
      soluciones tecnológicas propias y de terceros que ayuden a nuestros
      clientes a explotar su potencial empresarial y humano.
    </p>
  </div>
  <div id="mission-image">
    <img src="/images/about_us/mision_about_us.png" alt="Mujer sonriendo" />
  </div>
</div>

<div id="vision-section">
  <div id="vision-image">
    <img
      src="/images/about_us/vision_about_us.png"
      alt="Mujer con computador"
    />
  </div>
  <div id="vision-text">
    <h1>Visión</h1>
    <p>
      Ser una parte fundamental en el proceso de toma de decisiones de nuestros
      clientes.
    </p>
  </div>
</div>

<div class="bg-white p-6">
  <div class="values-container">
    <h2 class="text-3xl font-bold text-center mb-6"> NUESTROS VALORES</h2>
    <div class="values-list">
      <div class="value-item">Honestidad</div>
      <div class="value-item">Lealtad</div>
      <div class="value-item">Compromiso</div>
      <div class="value-item">Responsabilidad</div>
      <div class="value-item">Enfoque en el usuario</div>
      <div class="value-item">Adaptabilidad al cambio</div>
    </div>
  </div>
</div>
