<div class="contact-container">
  <div class="titles">
    <h1 class="title">Contáctanos</h1>
    <p>
      Por favor llena todos los campos siguientes, los elementos marcados con
      (<span class="text-red-500">*</span>) son obligatorios.
    </p>
  </div>

  <div class="wrapper">
    <form [formGroup]="form" (ngSubmit)="sendContactForm()">
      <div class="form-content">
        <div class="form-item">
          <label for="firstName" class="required">Nombre</label>
          <input
            type="text"
            id="firstName"
            pInputText
            formControlName="firstName"
            aria-required="true"
          />
        </div>

        <div class="form-item">
          <label for="lastName" class="required">Apellido</label>
          <input
            type="text"
            id="lastName"
            pInputText
            formControlName="lastName"
            aria-required="true"
          />
        </div>

        <div class="form-item expand custom-select">
          <label for="serviceType" class="required">Tipo de servicio</label>
          <p-select
            [options]="services"
            optionValue="value"
            optionLabel="display"
            formControlName="serviceType"
            id="serviceType"
            aria-required="true"
          ></p-select>
        </div>

        <div class="form-item">
          <label for="companyName" class="required">Nombre de la empresa</label>
          <input
            type="text"
            id="companyName"
            pInputText
            formControlName="companyName"
            aria-required="true"
          />
        </div>

        <div class="form-item">
          <label for="employeeQuantity">Cantidad de Terminales</label>
          <p-input-number
            formControlName="employeeQuantity"
            [min]="0"
            showButtons="false"
            aria-label="Cantidad de Terminales"
            [ngClass]="{
              'disabled-filter': form.get('employeeQuantity')?.disabled
            }"
          ></p-input-number>
        </div>

        <div class="form-item">
          <label for="email" class="required">Correo empresarial</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            pInputText
            aria-required="true"
          />
        </div>

        <div class="form-item">
          <label for="tel" class="required">Teléfono</label>
          <input
            type="text"
            id="tel"
            formControlName="tel"
            pInputText
            pKeyFilter="num"
            aria-required="true"
          />
        </div>

        <div class="form-item expand custom-select">
          <label for="attachments">Archivos adjuntos</label>
          <p-fileupload
            name="attachments"
            [auto]="false"
            [customUpload]="true"
            multiple="true"
            accept=".jpg,.png,.pdf,.docx,.xlsx"
            chooseLabel="Seleccionar archivos"
            (onUpload)="onFileUpload($event)"
          >
          </p-fileupload>
        </div>

        <div class="form-item expand">
          <label for="comments"
            >Preguntas, comentarios, información extra</label
          >
          <textarea
            id="comments"
            pTextarea
            autoResize="true"
            formControlName="comments"
            aria-label="Comentarios"
          ></textarea>
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid" class="btn-submit">
        <span *ngIf="loading(); else normalText">Cargando...</span>
        <ng-template #normalText>Enviar</ng-template>
      </button>
    </form>
  </div>
</div>
