.wrapper{
    @apply p-2 py-10 flex flex-col items-center gap-2 text-center;

    .title{
        @apply text-4xl font-extrabold;
    }

    .required::after{
        content: '*';
        color: red;
    }

    form{
        @apply w-full flex flex-col items-center gap-5;
    }

    .form-content{
        @apply grid gap-y-4 gap-x-11 md:grid-cols-2 grid-cols-1 md:w-4/6 max-w-5xl text-left;

        .form-item{
            @apply flex flex-col gap-1;
        }

        .expand{
            grid-column: 1/-1
        }

        ::ng-deep{
            input{
                @apply w-full;
            }
        }
    }
}