<div class="wrapper">
  <h1 class="title">Formulario de contacto para producto</h1>
  <p class="text-gray-500">
    Por favor llena todos los campos siguientes, los elementos marcados con
    (<span class="text-red-500">*</span>) son obligatorios
  </p>

  <div class="card">
    <div class="product">
      @if (this.product$ | async; as product) {
      <h1 >{{ product.name }}</h1>

      <p>{{ product.details }}</p>

      <h2 >
        {{ product.price | currency }}
      </h2>
      }
    </div>

    <form [formGroup]="this.productForm" (ngSubmit)="this.sendForm()">
      <div class="form-content">
        <div class="form-item">
          <label for="companyName" class="required">Nombre de la empresa</label>
          <input
            type="text"
            id="companyName"
            pInputText
            formControlName="companyName"
          />
        </div>

        <div class="form-item">
          <label for="tel" class="required">Teléfono</label>
          <input
            type="text"
            formControlName="tel"
            pInputText
            pKeyFilter="num"
          />
        </div>

        <div class="form-item">
          <label for="email" class="required">Correo empresarial</label>
          <input type="text" formControlName="email" pInputText />
        </div>

        <div class="form-item expand">
          <label for="comments"
            >Preguntas, comentarios, información extra</label
          >
          <textarea
            name=""
            id="comments"
            pTextarea
            autoResize="true"
            formControlName="comments"
          ></textarea>
        </div>
      </div>

      <p-button
        type="submit"
        label="Enviar"
        [disabled]="this.productForm.invalid"
      ></p-button>
    </form>
  </div>
</div>
