/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --logo-yellow: #FBE817;
    --logo-red: #E7262D;
    --logo-green: #88CF2F;
    --logo-blue: #4376C5;
    --logo-purple: #FB177B;
    --header-bg: #1f2937;
}