<footer>
    <div class="footer-container">

        <div class="footer-info border-b-slate-200 border-b-[1px] pb-3 border-color-black">
            <img  class="logo" src="logo.png" alt="Logo">
        </div>

        <div class="footer-info">
            <a href="https://wa.me/573174291247" target="_blank" rel="noopener noreferrer">
                <img class="whatsapp-icon" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Icon">
            </a>
            <p>
                Escríbenos a Whatsapp. Nuestro horario de atención: Lunes a Viernes de 7am a 12am y de 2pm a 5pm No Festivos. No olvides indicar la empresa y tú nombre
            </p>
        </div>

        <div class="footer-info font-light">
            <address>
                Alianza D.S.H s.a.s Colombia | NIT 901111315-1 | Calle 14 # 107 54 | Email: soporte&#64;alianzadsh.com | Teléfonos: +57-3174291247
            </address>
        </div>
    </div>
</footer>