<footer>
    <div class="footer-container">

        <div class="footer-info border-b-slate-200 border-b-[1px] pb-3">
            <img src="logo_nl.png" alt="Logo">
            <h1>Alianza D.S.H s.a.s</h1>
        </div>

        <div class="footer-info">
            <a href="https://wa.me/573174291247" target="_blank" rel="noopener noreferrer">
                <img class="whatsapp-icon" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Icon">
            </a>
            <p>
                Escríbenos a Whatsapp. Nuestro horario de atención: Lunes a Viernes de 7AM a 12M y de 2PM a 5PM No Festivos. No olvides indicar la empresa y tú nombre
            </p>
        </div>

        <div class="footer-info font-light">
            <address>
                Alianza D.S.H s.a.s Colombia | NIT 901111315-1 | Calle 14 # 107 54 | Email: soporte&#64;alianzadsh.com | Teléfonos: 3174291247
            </address>
        </div>
    </div>
</footer>